footer {
    background-color: rgba(90, 21, 122, 0.5);
    grid-row-start: 12;
    grid-row-end: 13;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 13;
}

.footer-text {
    color: #fff;
    font-size: 24px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
}

#form {
    border: 3px solid #fff;
    box-shadow: 2px 2px 2px rgb(164, 220, 222);
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    color: rgba(90, 21, 122, 0.5);
    font-size: 20px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
    margin: 20px 0;
}

input {
    margin: 5px 0;
    background: transparent;
	border: none;
	border-bottom: 2px dashed #fff;
	width: 275px;
	outline: none;
}

.button{
	color: rgba(90, 21, 122, 0.5);
    font-size: 20px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
    border: none;
	padding: 8px 0 0 0;
	border-radius: 5px;
    background: rgb(164, 220, 222);
    transition: all .4s ease;
    margin: 5px 0 5px 0;
    grid-column-start: 6;
    grid-column-end: 8;
}

.button:hover {
    box-shadow: 2px 2px 2px rgba(90, 21, 122, 0.5);
}

#submit {
    font-size: 20px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
    grid-column-start: 6;
    grid-column-end: 8;
}

input[type="checkbox" i]  {
    width: 20px;
    display: inline-block;
}

.flash {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgba(246, 235, 169, .9);
    grid-row-start: 2;
    grid-row-end: 3;
}

.flash-message {
    box-shadow: 2px 2px 2px rgb(164, 220, 222);
    font-size: 14px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-weight: bold;
}