{% extends "base.html" %}

{% block page_content %}
   
<header>{% block header %}
        {% include "header.html" %}
    {% endblock %}
</header>

<div id="main_content" class="main">
        <div class="content" id="form">
            <form action="" method="post" novalidate class=”login_form”>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}] <br></span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]
                    <br></span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]
                    <br></span>
                    {% endfor %}
                </p>
                <p class="button">{{ form.submit() }}</p>
            </form>
        </div>
    </div>
    <footer>
        <div class="footer-text">Copyright 2020</div>
    </footer>
{% endblock %}